@import './assets/styles/variables', './assets/styles/header',
  './assets/styles/previewer', './assets/styles/theme',
  './assets/styles/wrapper';

.app {
  background-color: $dark-secondary;
  color: $light-secondary;
  display: grid;
  grid-template-rows: auto, 1fr;
  height: 100vh;

  &.light {
    background-color: $light-secondary;
    color: $dark-secondary;

    .previewer {
      &__input {
        &-area {
          background-color: $light-secondary;
          color: $dark-secondary;
          overflow-y: scroll;
        }

        &-dropdown {
          background-color: $light-secondary;
          color: $dark-secondary;
        }

        &-header {
          background-color: $light-secondary;
        }
      }
      &-output {
        overflow-y: scroll;
      }
    }

    .theme-toggle {
      align-items: center;
      display: flex;

      &__button {
        background-color: transparent;
        border: none;
        color: $dark-secondary;
        font-size: 1rem;
        margin: 0 0.5rem;
      }
    }
  }
}
