.previewer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  padding: 0 1rem;

  &__input {
    display: grid;
    grid-template-rows: auto 1fr;

    &-area {
      overflow-y: scroll;

      textarea {
        background-color: $dark-secondary;
        border: none;
        color: $primary;
        height: 70vh;
        overflow-y: scroll;
        resize: none;
        width: 100%;
      }
    }

    &-dropdown {
      background-color: $dark-secondary;
      border: none;
      color: $primary;
      font-family: monospace;
      font-size: 0.875rem;
      position: sticky;
      top: 0;
    }

    &-header {
      align-content: center;
      background-color: $dark-secondary;
      display: flex;
      justify-content: center;
      padding: 1rem;
    }
  }

  &__output {
    height: 80vh;
    overflow-y: scroll;
  }
}
